@model CinemaWeb.Domain.DomainModels.Ticket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FilmName" class="control-label"></label>
                <input asp-for="FilmName" class="form-control" />
                <span asp-validation-for="FilmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmImage" class="control-label"></label>
                <input asp-for="FilmImage" class="form-control" />
                <span asp-validation-for="FilmImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmDescription" class="control-label"></label>
                <input asp-for="FilmDescription" class="form-control" />
                <span asp-validation-for="FilmDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmPrice" class="control-label"></label>
                <input asp-for="FilmPrice" class="form-control" />
                <span asp-validation-for="FilmPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmGenre" class="control-label"></label>
                <input asp-for="FilmGenre" class="form-control" />
                <span asp-validation-for="FilmGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmTime" class="control-label"></label>
                <input asp-for="FilmTime" class="form-control" />
                <span asp-validation-for="FilmTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
